idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Cf_Derby_20090720.bridge
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Hs_Derby_20090509.pgdb
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Sc_Derby_20090720.bridge
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Oj_Derby_20090720.bridge
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Bt_Derby_20090720.bridge
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Mm_Derby_20090720.bridge
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Gg_Derby_20090720.bridge
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Ag_Derby_20090720.bridge
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Ce_Derby_20090720.bridge
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/At_Derby_20090720.bridge
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Dr_Derby_20090720.bridge
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Pt_Derby_20090720.bridge
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Dm_Derby_20090720.bridge
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Ec_Derby_20090720.bridge
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Dn_Derby_20090514.pgdb
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Bs_Derby_20090720.bridge
idmapper-pgdb:/home/thomas/PathVisio-Data/gene_databases/Rn_Derby_20090720.bridge
